<!DOCTYPE html>
<html lang="en">

<head>
  <title>Webpage Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <style type="text/css">
  .valid {
    visibility: hidden;
  }

  .invalid {
    color: red;
    font-size: 10px;
    font-weight: bold;
    visibility: visible;
  }
  .first {
      width: 450px;
      height: 450px;
      overflow: hidden;
      font-family: montserrat;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px;
      border: solid 2px;
      box-sizing: border-box;
      border-color: black;
    }
</style>

</head>
<body onload="displayUser();">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:5000/ahome">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:5000/report">BOOKEDSERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:5000/service">SERVICE</a>
        </li>
      </ul>
      <div class="row-0">
        <div class="col-12"></div>
        <div class="col-0">
          <span class="h5" id="uname"></span>
          <button class="btn btn-danger" type="submit" onclick="logout();">LOGOUT</button>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <h3 class="text-center"><b>KATTIKERI GARDEN</b></h3>
</body>
</html>
<br>
<b><h1 class="display-8 text-center ">ADD NEW SERVICES</h1></b>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
           <form id="serviceform" onsubmit="checkformvalid(event);"> 
            <div class="first" >
            <div class="row mb-3">
              <label for="sname">service name:</label>
              <input type="text" class="form-control" id="sname" placeholder="Enter service name" name="sname" pattern="^[a-zA-Z]+$" onblur="validateField(event.target.id);"/>
              <span class="valid" id="vesname"><h3>Please enter service name</h3></span>
              <span class="valid" id="vrsname">Please enter service name alphabets only</span> 
            </div>
            <div class="row mb-3">
              <label for="sname">Rate:</label>
              <input type="text" class="form-control" id="rate" placeholder="Enter rate" name="rate" pattern="^[0-9]+$" onblur="validateField(event.target.id);"/>
              <span class="valid" id="verate"><h3>Please enter rate</h3></span>
              <span class="valid" id="vrrate">Please enter rate digits only</span> 
            </div>
            <div class="row mb-3">
              <div class="col-2"></div>
              <div class="col-2">
            <button type="submit" class="btn btn-primary display-10">SAVE</button>
            </div>
            </div>
            <div>
            </form>
            </div>
            </div>
            </div>
            <script>
              function requiredvalidation(id)
                {
                    let valid=false;
                    let value=document.getElementById(id).value;
                    if(value.trim().length==0)
                    {
                        document.getElementById("ve"+id).classList.replace("valid","invalid");
                        valid=false;
                    }
                    else 
                    {
                        document.getElementById("ve"+id).classList.replace("invalid","valid");
                        valid=true;
                    }
                    return valid;
                }
                function regularexpvalidation(id)
                {
                  let valid=false;
                  let value=document.getElementById(id).value;
                  let p=document.getElementById(id).pattern;
                  let pattern=new RegExp(p);
                  if(pattern.test(value)==false)
                  {
                    document.getElementById("vr"+id).classList.replace("valid","invalid");
                    valid=false;
                  }
                else 
                {
                    document.getElementById("vr"+id).classList.replace("invalid","valid");
                    valid=true;
                }
                return valid;
                }
                function validateField(id)
                {
                    let valid=false;
                    if(requiredvalidation(id)&&regularexpvalidation(id))
                    valid=true;
                    return valid;
                }
                function checkformvalid(event)
                {
                    event.preventDefault();
                    let flag=true;
                    let elements=document.getElementsByClassName("form-control");
                    for(let i=0;i<elements.length;i++)
                    {
                        let id=elements.item(i).id;
                        if(!validateField(id))
                        {
                         flag=false;
                         break;
                        }
                    }
                    if(flag==false)
                    alert("Your form is not yet validated");
                    else
                    {
                      save();
                    }
                    return flag;
                  }
                  async function save()
                  {
                    let form=document.getElementById("serviceform");
                    let formData=new FormData(form);
                    
                    let response=await fetch("http://localhost:5000/api/service",{
                      method:"post",
                      body:formData
                    });
                    if(response.status==200)
                    {
                      let data=await response.json();
                      if(data.status=="success")
                       {
                        alert("Services added successfully");
                        location.href="http://localhost:5000/service"
                       }
                       else{
                        alert("Unable to add services");
                       }
                    }
                  }

                  function displayUser() {
    (sessionStorage["uname"])
    if (sessionStorage["uname"] == null) {
      location.href = "http://localhost:5000/";
    }
    else {
      document.getElementById("uname").innerHTML = sessionStorage["uname"];
      displayService();
    }
  }
  function logout() {
    sessionStorage.clear();
    location.href = "http://localhost:5000/login";
  }
</script>
            
